* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}

body {
  font-size: 1.6rem;
}

#header {
  
}

.wrap-intro {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.intro {
  height: 40vh;
  padding-top: 1px;
}

.intro h1 {
  font-size: 4rem;
  padding-top: 16px;
  margin-bottom: 0;
  font-weight: 500;
}

.intro h2 {
  font-size: 1.8rem;
  color: #888888;
  margin: 6px 0 8px;
  font-weight: 500;
}

.intro a {
  border: 1px solid #CCCCCC;
  display: inline-block;
  padding: 9px 27.5px;
  border-radius: 50px;
  text-decoration: none;
  color: #333333;
  margin-top: 8px;
  transition: background 500ms ease;
}

.intro a:hover {
  background-color: #f4f4f4;
}

.intro__img {
  background-image: url(https://source.unsplash.com/De8wMYoSSBc);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  width: 100%;
  height: 60vh;
}

body {
  background-color: #eeeeee;
}

.content-wrap {
  background-color: #333333;
  color: #ffffff;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 1.9rem;
  border-left: 2px dotted #ffffff;
  border-right: 2px dotted #ffffff;
  display: inline-block;
  padding: 0 16px;
  line-height: 26px;
}
.contain-img {
  margin: 0 0;
}

.caption:last-child {
  padding-bottom: 1px;
}

.index {
  margin-top: 32px;
}

.contain-img img {
  max-width: 100%;
}

.description {
  margin: 12px 0 32px;
}

#footer {
  background-color: #EEEEEE;
  padding: 1px 16px 28px;
  margin-top: 32px;
}

.appeal {
  font-size: 4.8rem;
  color: #333333;
}

#footer p {
  color: #333333;
}

#footer p span {
  color: #333333;
}

.box-shadow {
  margin: 0;
  padding: 0;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1), -30px 0px 40px rgba(0, 0, 0, 0.1)
}

.appeal {
  margin-bottom: 0;
}

@media (min-width: 740px) {
  .box-shadow {
    max-width: 920px;
    margin: auto;
  }

  #header {
    display: flex;
  }

  .wrap-intro {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 45%;
  }

  .intro__img {
    height: 100vh;
    width: 55%;
  }
}

